        body {
         margin: 0;
        }

        .apartment-card {
            margin : 1%;
            padding : 1%;
            border: 1px solid #ccc;
            border-radius: 10px; /* Bo cong các góc của thẻ */
            background-color: #FFCC80; /* Màu nền vàng cam */
            width: 250px;
            display: inline-block;
            vertical-align: top;
            transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition cho hiệu ứng nổi */
        }
        .apartment-card:hover {
            transform: translateY(-10px); /* Di chuyển thẻ lên cao hơn 5px */
            box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Thêm bóng đổ khi hover */
        }
        .apartment-card img {
            width: 100px;
            height: 100px;
            border-radius: 5px; /* Bo cong các góc của hình ảnh */
        }

        .title {
            font-size: 100px
            font-weight: bold;
            text-align: center;
        }

         .butt {
            display: flex;
            margin-left:800px
         }

          .ae {
             padding: 10px 20px;
             margin: 10px 5px;
             background-color: #5cb85c;
             color: white;
             text-decoration: none;
             border-radius: 5px;
          }

          .ae:hover {
             background-color:#4cae4c;
          }

        .sort{
            display:flex;
            text-align: center;
            align-items:center;
            justify-content:center;
            color: #333;
        }

