        body {
        margin: 0;}
        .apartment-card {
            margin : 50;
            border: 1px solid #ccc;
            border-radius: 10px; /* Bo cong các góc của thẻ */
            background-color: #FFCC80; /* Màu nền vàng cam */
            width: 250px;
            display: inline-block;
            vertical-align: top;
            transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition cho hiệu ứng nổi */
        }
        .apartment-card:hover {
            transform: translateY(-10px); /* Di chuyển thẻ lên cao hơn 5px */
            box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Thêm bóng đổ khi hover */
        }
        .apartment-card img {
            width: 100px;
            height: 100px;
            border-radius: 5px; /* Bo cong các góc của hình ảnh */
        }