        .but {
            padding: 10px 20px;
            margin: 10px 5px;
            background-color: #5cb85c;
            border-radius: 5px;
            margin-left: 475px;
            margin-right: 510px;
        }
        .but a {
            text-decoration: none;
            color: white;
        }

