nav{

    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    background-color:beige;
    align-items: center;

}

nav img{
    width: 150px;
}
.nav-links-menu{
    height: fit-content;
    text-align: right;
    display: inline-block;
    padding-bottom: 0px;
}
.nav-links-menu ul li{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style:none;
    display: inline-block;
    padding: 10px 10px;
    font-size: 20px;
}
.nav-links-menu ul li a{
    color: #030000;
    text-decoration:none;
}
.nav-links-menu ul li a::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #080935;
    display: block;
    margin:auto;
    transition: 0.5s;
}

.nav-links-menu ul li a:hover::after{
    width: 100%;
}