/* welcome.css */

/* Style cho container */
.container {
    margin-top: 50px; /* Khoảng cách từ trên xuống */
}

/* Style cho tiêu đề h1 */
h1 {
    color: #333; /* Màu chữ */
    font-size: 72px; /* Kích thước chữ */
    font-weight: bold; /* Chữ in đậm */
}

/* Style cho tiêu đề h3 */
h3 {
    margin-top: 20px; /* Khoảng cách từ trên xuống */
}

/* Style cho khung chứa heading h3 */
.rectangle {
    border-radius: 20px; /* Bo cong viền */
    padding: 10px; /* Khoảng cách bên trong khung */
    background-color: #fff7d6; /* Màu nền */
}

/* Style cho các liên kết */
a {
    text-decoration: none; /* Loại bỏ gạch chân */
    color: #007bff; /* Màu chữ */
}

/* Style khi di chuột qua liên kết */
a:hover {
    text-decoration: underline; /* Gạch chân khi di chuột qua */
}
