<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <title>Menu</title>
</head>
<body>
<div class="wrapper">
    <nav>
        <a href="#" class="link_to_home">
            <div>
                <img src="/css/7TRO.png" alt="Logo">
            </div>
        </a>

        <div class="nav-links-menu">
            <ul>
                <li><a th:href="'/home'">HOME</a></li>
                <li><a th:href="'/apartment'">BLOG</a></li>
                <li><a th:href="'/apartment/add'">ADD ROOM</a></li>
                <li><a th:href="'/wishlist'">WISH LIST</a></li>
                <li><a th:href="'/my_profile'">PROFILE </a></li>
                <li><a th:href="'/account'">ACCOUNT </a></li>
                <li><a th:href="'/logout'">LOGOUT </a></li>
            </ul>
        </div>
    </nav>
    <div layout:fragment="content">
        <!-- Default content goes here if not overridden -->
        <p>This is default content</p>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
