<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <title>Menu</title>
</head>
<body>
<nav>
    <a href="#" class="link_to_home">
        <div>
            <img src="https://picsum.photos/200"/>
        </div>
    </a>

    <div class="nav-links-menu">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">MANAGE MY ANOUNCEMENT</a></li>
            <li><a href="#">ADD ROOM</a></li>
            <li><a href="#">LOG IN</a></li>
        </ul>
    </div>
</nav>
<div layout:fragment="content">
    <!-- Default content goes here if not overridden -->
    <p>This is default content</p>
</div>
<!--<div style="text-align:center;">Copyright 2024 &copy; FIT HANU</div>-->
</body>
</html>
