<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to 7Tro</title>
    <link rel="stylesheet" th:href="@{/css/welcome.css}">
</head>
<body style="background-color: #fff7d6;"> <!-- ??t màu n?n cho toàn b? trang -->
<div class="container text-center">
    <h1>Welcome to 7Tro</h1>
    <div class="rectangle">
        <h3><a th:href="@{/signup}">Signup</a></h3>
        <h3><a th:href="@{/login}">Login</a></h3>
    </div>
</div>
</body>
</html>
