<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout.html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to 7Tro</title>
    <link rel="stylesheet" th:href="@{/css/welcome.css}">

</head>
<body>
<div layout:fragment="content">
<div class="container text-center">
    <h1>WELCOME TO 7 TRO</h1>
    <div class="rectangle">
        <h3><a th:href="@{/signup}" class="button">Signup</a></h3>
        <h3><a th:href="@{/login}" class="button">Login</a></h3>

    </div>
</div>
</div>
</body>
</html>
