<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout.html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <title>Add Apartment</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1>ADD NEW APARTMENT</h1>
        <form th:action="'/apartment/insert'" th:object="${apartment}" method="post">

            <label class ="label">Title: </label>
            <input type="text" th:field="*{title}"/>
            <div th:if="${#fields.hasErrors('title')}"
                 th:errorclass="error" th:errors="*{title}"/>

            <label class ="label"> Price (VND): </label>
            <input type="text" th:field="*{price}"/>
            <div th:if="${#fields.hasErrors('price')}"
                 th:errorclass="error" th:errors="*{price}"/>

            <label class ="label"> Address: </label>
            <input type="text" th:field="*{address}"/>
            <div th:if="${#fields.hasErrors('address')}"
                 th:errorclass="error" th:errors="*{address}"/>

            <label class ="label"> Area (m2):</label>
            <input type="text" th:field="*{area}"/>
            <div th:if="${#fields.hasErrors('area')}"
                 th:errorclass="error" th:errors="*{area}"/>


            <label class ="label"> Image Link: </label>
            <input type="text" th:field="*{image}"/>
            <div th:if="${#fields.hasErrors('image')}"
                 th:errorclass="error" th:errors="*{image}"/>


            <button type="submit">ADD</button>

        </form>
    </div>
</div>
</body>
</html>