<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout.html">
<head>
    <meta charset="UTF-8">
    <title>Apartment Detail</title>
</head>
<body>
<div layout:fragment="content">
<div>
    <h1>APARTMENT DETAIL</h1>
    <div style="display: flex; flex-direction: rows;">
        <div>
            <img th:src="${apartment.image}" width="210" height="210">
        </div>
        <div>
            <h2 th:text="${apartment.title}" />
            <p th:text="'Price: ' + ${apartment.price}" />
            <p th:text="'Address: ' + ${apartment.address}" />
        </div>
    </div>
</div>
</div>
</body>
</html>