<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout.html">
<head>
    <meta charset="UTF-8">
    <title>Update Apartment</title>
</head>
<body>
<div layout:fragment="content">
<div>
    <h2>UPDATE Apartment</h2>
    <form method="post" th:action="'/save'">
        <input type="hidden" th:field="${apartment.id}">
        <p>
            <label>apartment name:</label>
            <input class="form-control" type="text"
                   th:field="${apartment.name}">
        </p>
        <p>
            <label>apartment price:</label>
            <input class="form-control" type="number"
                   th:field="${apartment.price}">
        </p>
        <p class="form-group">
            <label>apartment image:</label><br>
            <img th:src="${apartment.image}" width="100" height="100">
            <input class="form-control" type="text"
                   th:field="${apartment.image}">
        </p>
        <p class="form-group">
            <label>apartment address:</label>
            <input class="form-control" type="text"
                   th:field="${apartment.address}">
        </p>
        <p>
            <button type="submit">UPDATE</button>
        </p>
    </form>
</div>
</div>

</body>
</html>