<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout.html">
<head>
    <meta charset="UTF-8">
    <title>Apartment List</title>
    <link rel="stylesheet" th:href="@{/css/apartmentList.css}">
    <style>
        .sort{
            display:flex;
            text-align: center;
            align-items:center;
            justify-content:center;
            color: #333;
        }

    </style>
</head>
<body>
<div layout:fragment="content">
<div>

    <div class="sort">
        <label  for="sortOrder">SORT BY PRICE</label>
        <select id="sortOrder" onchange="window.location.href='?sort=' + this.value">
            <option value="asc" th:selected="${sort == 'asc'}">PRICE ASC</option>
            <option value="desc" th:selected="${sort == 'desc'}">PRICE DESC</option>
            <option value="area_asc" th:selected="${sort == 'area_asc'}">AREA ASC</option>
            <option value="area_desc" th:selected="${sort == 'area_desc'}">AREA DESC</option>
        </select>
    </div>




    <div th:each="apartment : ${apartments}" class="apartment-card">
        <div>ID: <span th:text="${apartment.id}"></span></div>
        <a th:href="'apartment/' + ${apartment.id}" th:text="${apartment.title}"/>
        <div>Name: <span th:text="${apartment.title}"></span></div>
        <div>Price: <span th:text="${apartment.price}"></span></div>
        <div>Address: <span th:text="${apartment.address}"></span></div>
        <div>Area: <span th:text="${apartment.area}"></span></div>
        <div>
            <img th:src="${apartment.image}" alt="Apartment Image"/>
        </div>
    </div>
</div>
</div>
</body>
</html>
