<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout.html">
<head>
    <meta charset="UTF-8">
    <title>Apartment List</title>
    <link rel="stylesheet" th:href="@{/css/apartmentList.css}">
</head>
<body>
<div layout:fragment="content">
<div>
    <div> <a th:href="'/add'" >  Add apartment </a> </div>
    <div th:each="apartment : ${apartments}" class="apartment-card">

        <div>ID: <span th:text="${apartment.id}"></span></div>

        <a th:href="'/detail/' + ${apartment.id}" th:text="${apartment.name}"/>

        <div>Name: <span th:text="${apartment.name}"></span></div>
        <div>Price: <span th:text="${apartment.price}"></span></div>
        <div>Address: <span th:text="${apartment.address}"></span></div>
        <div>
            <img th:src="${apartment.image}" alt="Apartment Image"/>
        </div>
        <div>
            <a th:href="'/update/' + ${apartment.id}">UPDATE</a>
            <a th:href="'/delete/' + ${apartment.id}">DELETE</a>
        </div>

    </div>
</div>
</div>
</body>
</html>
