<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout.html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <style>
        .but {
            padding: 10px 20px;
            margin: 10px 5px;
            background-color: #007BFF;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            margin-left: 475px;
            margin-right: 510px;

    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1>Change Password</h1>
        <!-- Displaying error messages if present -->
        <p th:if="${error != null}" th:text="${error}"></p>

        <!-- Form for changing password -->
        <form th:action="@{/process_change_password}" method="post">
            <div>
                <label for="currentPassword">Current Password:</label>
                <input type="password" id="currentPassword" name="currentPassword" required>
            </div>

            <div>
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" required>
            </div>

            <div>
                <label for="confirmNewPassword">Confirm New Password:</label>
                <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
            </div>

            <div>
                <button type="submit">Update Password</button>
            </div>
        </form>
        <div class="but">
            <a th:href="@{/my_profile}">Back to Profile</a>
        </div>
    </div>
</div>
</body>
</html>
