<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Employee</title>
</head>
<body>
<div>
  <h2>ADD EMPLOYEE</h2>
  <form th:action="'/insert'" th:object="${employee}" method="post">
    <p>
      <label>Employee name: </label>
      <input type="text" th:field="*{name}">
    </p>
    <p>
      <label>Employee age: </label>
      <input type="number" th:field="*{age}">
    </p>
    <p class="form-group">
      <label>Employee image: </label>
      <input type="text" th:field="*{image}">
    </p>
    <p class="form-group">
      SE2 – TUTORIAL 2
      <label>Employee address </label>
      <input type="text" th:field="*{address}">
    </p>
    <p>
      <button type="submit">ADD</button>
    </p>
  </form>
</div>
</body>
</html>