<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee</title>
</head>
<body>
<div>
    SE2 – TUTORIAL 2
    <h2>UPDATE EMPLOYEE</h2>
    <form method="post" th:action="'/save'">
        <input type="hidden" th:field="${employee.id}">
        <p>
            <label>Employee name:</label>
            <input class="form-control" type="text"
                   th:field="${employee.name}">
        </p>
        <p>
            <label>Employee age:</label>
            <input class="form-control" type="number"
                   th:field="${employee.age}">
        </p>
        <p class="form-group">
            <label>Employee image:</label><br>
            <img th:src="${employee.image}" width="100" height="100">
            <input class="form-control" type="text"
                   th:field="${employee.image}">
        </p>
        <p class="form-group">
            <label>Employee address:</label>
            <input class="form-control" type="text"
                   th:field="${employee.address}">
        </p>
        <p>
            <button type="submit">UPDATE</button>
        </p>
    </form>
</div>
</body>
</html>
