<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
<div>
    <h2>EMPLOYEE LIST</h2>
    <div> <a th:href = "'/add'"> Add Employee</a> </div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"/>
            <td>
                    <a th:href="'/detail/' + ${employee.id}" th:text="${employee.name}"/>
            </td>
            <td>
                <img th:src="${employee.image}" width="100" height="100"/>
            </td>
            <td> <a th:href = "'/update/' + ${employee.id}" > UPDATE </a> </td>
            <td> <a th:href = "'/delete/' + ${employee.id}" > DELETE </a> </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>