<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout.html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" th:href="@{/css/banner.css}">
</head>
<body>
<div layout:fragment="content">
    <section class="intro">
        <h1>7Tro- VietNam's Greatest Hospitality</h1>
        <p>Discover the Perfect Home: Your Key to Comfort and Convenience!</p>
    </section>
</div>
</body>
</html>
