<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout.html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <title>Document</title>
</head>
<body>
<div layout:fragment="content">
<div class="form">
    <form>
        <div class="input-container">
            <label>Email: </label>
            <input type="text" name="uEmail"  required />
        </div>

        <div className="input-container">
            <label>Account Name: </label>
            <input type="text" name="uAccountName"  required />
        </div>

        <div className="input-container">
            <label>Password: </label>
            <input type="password" name="pass" />
        </div>

        <div className="button-container">
            <input type="submit" />
        </div>
    </form>
</div>
</div>


</body>
</html>

