<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout.html">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <script>
        function togglePassword() {
         var passwordInput = document.getElementById('password');
         var passwordType = passwordInput.type === 'password' ? 'text' : 'password';
         passwordInput.type = passwordType;
}

    </script>

</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1>User Registration - Sign Up</h1>
        <form th:action="@{/process_signup}" th:object="${user}" method="post">
            <label class="label" for="email">E-mail:</label>
            <input type="email" id="email" th:field="*{email}" placeholder="Enter your email" required/>

            <label class="label" for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password"
                   required minlength="6" maxlength="14"
                   pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*\W)[A-Za-z\d\W]{6,14}"
                   title="Password must be between 6 and 14 characters long and contain at least one letter, one number, and one special character."/>
            <label for="show-password">
                <input type="checkbox" id="show-password" onclick="togglePassword()"> Show Password
            </label>



            <label class="label" for="firstName">First Name:</label>
            <input type="text" id="firstName" th:field="*{firstName}" placeholder="Enter your first name" required
                   minlength="2" maxlength="20"/>

            <label class="label" for="lastName">Last Name:</label>
            <input type="text" id="lastName" th:field="*{lastName}" placeholder="Enter your last name" required
                   minlength="2" maxlength="20"/>

            <label class="label" for="phoneNumber">Phone Number:</label>
            <input type="text" id="phoneNumber" th:field="*{phoneNumber}" placeholder="Enter your phone number"
                   pattern="[0-9]{10}" class="form-control"
                   title="Phonenumber must be contain 10 numbers"/>

            <button type="submit">Register</button>
            <h3><a th:href="@{/login}" style="font-size: smaller;">Do you have an account?</a></h3>



        </form>
    </div>
</div>
</body>
</html>
