<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout.html">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">

</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1>User Registration - Sign Up</h1>
        <form th:action="@{/process_signup}" th:object="${user}" method="post">
            <label for="email">E-mail:</label>
            <input type="email" id="email" th:field="*{email}" placeholder="Enter your email" required/>

            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" placeholder="Enter your password" required
                   minlength="6" maxlength="10" pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,10}"
                   title="Password must be between 6 and 10 characters long and contain at least one letter and one number."/>

            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" th:field="*{firstName}" placeholder="Enter your first name" required
                   minlength="2" maxlength="20"/>

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" th:field="*{lastName}" placeholder="Enter your last name" required
                   minlength="2" maxlength="20"/>

            <label for="phoneNumber">Phone Number:</label>
            <input type="tel" id="phoneNumber" th:field="*{phoneNumber}" placeholder="Enter your phone number"
                   pattern="[0-9]{10}" class="form-control"/>

            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>
</body>
</html>
