<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout.html">
<head>
    <meta charset="UTF-8">
    <title>Update Profile</title>
    <link rel="stylesheet" th:href="@{/css/updateProfile.css}">
</head>
<body>
<div layout:fragment="content">
<div class="container">
    <h1>Update My Profile</h1>
    <form th:action="@{/update_my_profile}" th:object="${user}" method="post">
        <div>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" th:field="*{firstName}" required />
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" th:field="*{lastName}" required />
        </div>
        <div>
            <button class ="savechanges"type="submit">Save Changes</button>
        </div>
    </form>
    <a class="cancel"th:href="@{/my_profile}">Cancel</a>
</div>
</div>
</body>
</html>
