<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Profile</title>
</head>
<body>
<h1>Update My Profile</h1>
<form th:action="@{/update_my_profile}" th:object="${user}" method="post">
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" required />
    </div>
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" required />
    </div>
    <div>
        <button type="submit">Save Changes</button>
    </div>
</form>
<a th:href="@{/my_profile}">Cancel</a>
</body>
</html>
